/* ---------------------------------------------------
    GLOBAL
----------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  cursor: pointer;
}

header.container {
  padding: 0;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media only screen and (max-width: 375px) {

  .up-section div.up-section-container div.up-section-text {
    padding-right: 10vw;
  }

  .down-section div.down-section-container 
  div.down-section-text-container div.down-section-title {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }

  .down-section div.down-section-container 
  div.down-section-text-container div.down-section-text {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  div.down-section-container 
  div.down-section-image {
    padding-top: 6vh;
  }

  .down-section div.down-section-container 
  div.down-section-image div.downtape-container {
    max-width: 259px;
  }

}

@media only screen and (max-width: 575px) {

  header nav.navbar {
    min-height: auto;
  }

  .navbar-flexDiv {
    flex-grow: 1;
    display: flex;
  }

  header.header-container .navbar {
    height: auto;
  }

  .custom-navbar-brand #logo {
    max-width: 40px;
  }

  .title-container {
    display: none;
  }

  .row.footer-row {
    padding-top: 41px;
  }

  .container.footer-container {
    height: 334px;
  }

  div.follow-col {
    display: flex;
    justify-content: center;
  }

  div.follow {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 42px;
  }

  div.contact {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.contact-text .footer-text {
    text-align: center;
  }

  div.social-container div.social-icons:last-child {
    padding-right: 0;
  }

  .col div.up-section {
    height: 511px;
  }

  .col div.down-section {
    height: 568px;
  }
  
  .up-section div.up-section-container div.up-section-text {
    font-size: 3.4rem;
    line-height: 4rem;
    padding-bottom: 2vh;
  }
  
  .up-section div.up-section-image div.uptape-container {
    max-width: 285px;
  }

  div.down-section-container div.down-section-text-container div.down-section-title {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  div.down-section-container div.down-section-text-container div.down-section-text {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  div.down-section-container div.down-section-image div.downtape-container {
    max-width: 300px;
  }

}

@media only screen and (max-width: 767px) {

  div.custom-navbar-brand {
    padding-left: 1vw;
  }

  .custom-navbar-brand #logo {
    max-width: 50px;
  }

  #navbar-site ul.navbar-nav li:not(:last-child) {
    margin-right: 1vw;
  }

  .title-container {    
    padding-right: 0.5vw;
  }

  div.first-name {
    font-size: 2rem;
    line-height: 2rem;
  }
  
  div.second-name {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  div.up-section-container div.up-section-text {
    font-size: 5.1rem;
    line-height: 5.4rem;
    padding-bottom: 2vh;
  }
  
  div.up-section-image div.uptape-container {
    max-width: 500px;
  }

  .down-section-container div.down-section-text-container div.down-section-title {
    font-size: 3.6rem;
    line-height: 4.5rem;
  }

  .down-section-container div.down-section-text-container div.down-section-text {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  .down-section-container div.down-section-image div.downtape-container {
    max-width: 400px;
  }

}

@media only screen and (max-width: 991px) {

  #navbar-site ul.navbar-nav a {
    font-size: 90%;
  }

  #navbar-site ul.navbar-nav li:not(:last-child) {
    margin-right: 2vw;
  }

  #navbar-site ul.navbar-nav li:last-child {
    margin-right: 0.5vw;
  }

  div.up-section-container {
    flex-direction: column;
  }

  div.up-section {
    height: 800px;
  }

  .up-section-container div.up-section-text {
    font-size: 5.1rem;
    line-height: 5.8rem;
    padding-bottom: 2vh;
  }
  
  .up-section-image div.uptape-container {
    max-width: 600px;
  }

  div.down-section {
    height: 800px;
  }

  div.down-section-container {
    flex-direction: column;
  }

  .down-section-container div.down-section-text-container {
    margin-left: 0;
    margin-top: 0;
    width: auto;
  }

  .down-section-text-container div.down-section-text {
    font-size: 3.8rem;
    line-height: 4.5rem;
  }

  .down-section-container div.down-section-image {
    margin-top: 0;
    margin-left: 0;
    padding-top: 4vh;
    align-self: flex-end;
  }

  .down-section-image div.downtape-container {
    max-width: 600px;
  }

  div.down-section-text-container div.down-section-title {
    font-size: 5.1rem;
    line-height: 5.8rem;
  }

  div.down-section-text-container div.down-section-text {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  div.down-section-image div.downtape-container {
    max-width: 500px;
  }

}

@media only screen and (max-width: 1199px) {
  div.up-section-text {
    font-size: 4.8rem;
    line-height: 5rem;
  }
  
  div.uptape-container {
    max-width: 550px;
  }
}

@media only screen and (max-width: 1400px) {

  div.down-section-image {
    margin-top: -16vh;
    margin-left: -55vw;
  }

  div.down-section-text-container {
    margin-left: 6vw;
    margin-top: 8vh;
    width: 100%;
  }

  div.down-section-title {
    font-size: 4rem;
    line-height: 5rem;
    padding-bottom: 2vh;
  }

  div.down-section-text {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }

  .up-section-text {
    padding-right: 1vw;
  }
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */

.header-container {
  overflow: hidden;
}

header .navbar {
  padding-right: .5rem;
  padding-left: .5rem;
  background: #FFFFFF;
  height: 110px;
}

ul.navbar-nav a {
  font-weight: 300;
  font-size: 100%;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 5.4px;
  text-transform: uppercase;
  color: #846219;
}

ul.navbar-nav li:last-child {
  margin-right: 1.5vw;
}

ul.navbar-nav li:not(:last-child) {
  margin-right: 3vw;
}

.navbar-left.navbar-toggler.custom-navbar-toggler {
  color: #E2E0B8;
  border: none;
}

.custom-navbar-brand {
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  max-width: 70px;
  min-width: 40px;
}

.title-container {
  padding-left: 1.5vw;
  width: max-content;
}

.first-name {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 48px;
  display: flex;
  align-items: flex-end;
  color: #846219;
}

.second-name {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 5.4px;
  color: #846219;
}

/* ---------------------------------------------------
    UP SECTION
----------------------------------------------------- */

.up-section {
  height: 914px;
  background-color: #E9E9E9;
  color: #716565;
}

.up-section-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-section-text {
  font-weight: bold;
  font-size: 5.1rem;
  line-height: 6rem;
  color: #716565;
}

.uptape-container {
  max-width: 682px;
}

#uptape {
  max-width: 100%;
  height: auto;
}

/* ---------------------------------------------------
    DOWN SECTION
----------------------------------------------------- */

.down-section {
  height: 1024px;
  background-color: #506FA9;
  color: #fff;
}

.down-section-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-section-text-container {
  margin-left: auto;
  margin-top: 9vh;
}

.down-section-title {
  font-weight: bold;
  font-size: 69.2px;
  line-height: 81px;
  color: #FFFFFF;
  padding-bottom: 26px;
}

.down-section-text {
  font-weight: 300;
  font-size: 48.2px;
  line-height: 56px;
  color: #FFFFFF;
}

.down-section-image {
  margin-top: -16vh;
  margin-left: -11vw;
}

.downTape-container {
  max-width: 950px;
}

#downTape {
  max-width: 100%;
  height: auto;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

.footer-container {
  height: 226px;
  background-color: #E9E9E9;
  color: #716565;
}

.footer-row {
  padding-top: 47px;
}

.follow {
  margin-left: 7vw;
  width: max-content;
}

.social-icons > img {
  width: 43px;
}

.social-icons {
  padding-right: 26px;
}

.contact {
  margin-left: 7vw;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.footer-title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 27.2px;
  line-height: 32px;  
  display: flex;
  align-items: flex-end;  
  color: #716565;
  padding-bottom: 15px;
}
